.main{
  height: 1200px;
}

.icon{
  position: absolute;
}

body{
  background-color: #8DB0C4;
  overflow: hidden;
}

li{
  list-style-type: none;
}

#logo-white{
  opacity: 0.3;
  top: 25px;
  left: 25px;
  width: 15%;
  height: auto;

}

#icon1{
   /*Insta*/
  top: 18%;
  left: 60%;
  width: 5%;
  height: auto;
}

#icon2{
   /*Twitter*/
  top: 36%;
  left: 60%;
  width: 8%;
  height: auto;
}

#icon3{
   /*Calendar*/
   top: 36%;
   left: 76%;
  width: 7%;
  height: auto;
}

#icon4{
   /*Cookbook*/
   top: 13%;
   left: 70%;
  width: 3%;
  height: auto;
}

#icon5{
   /*Photo(Frame)*/
   top: 15%;
   left: 45%;
  width: 5%;
  height: auto;
}

#icon6{
   /*Pig*/
   top: 70%;
   left: 50%;
  width: 5%;
  height: auto;
}

#icon7{
   /*Sport(poster)*/
  top: 368px;
  left: 695px;
  width: 5%;
  height: auto;
}

#icon8{
   /*Radio*/
  top: 183px;
  left: 1584px;
  width: 5%;
  height: auto;
}

#icon9{
   /*Horoscope(starball)*/
  top: 438px;
  left: 352px;
  width: 5%;
  height: auto;
  z-index: 999;
}

#icon10{
   /*Facebook*/
   top: 70%;
   left: 40%;
  width: 5%;
  height: auto;
}

#desk{
  width: 70%;
  height: auto;
  top: 70%;
  left: 20%;
}

#shelf{
  width: 30%;
  height: auto;
  top: 30%;
  right: 15%;
}

#window{
  width: 15%;
  height: auto;
  left: 15%;
  top: 20%;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7, #icon8, #icon9{
  border-radius: 10px;
}

#config-btn{
  background-image: url("../img/config.png");
  position: absolute;
  top: 31px;
  right: 31px;
  height: 50px;
  width: 50px;
}

#clock{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 31px;
  right: 123px;
}
