<!doctype html>
<html>

	<head>
		<meta charset="utf-8" >
		<title>The Desk</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />

		<link rel="stylesheet" type="text/css" href="components/angular-clock/dist/angular-clock.css" />
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">


	</head>

    <body ng-app="mainApp" ng-controller="mainController as vm">

        <div class="main">

						<div ng-repeat="item in vm.items track by $index" class="icon" id="icon{{$index+1}}"
								data-toggle="tooltip" data-placement="bottom" title="{{item.description}}"
								ng-show="item.checked" ng-dblclick="vm.openDetails(item.description)">
						</div>

        </div>

        <button id="config-btn" class="btn btn-default" ng-click="vm.openModal()"
					data-toggle="tooltip" data-placement="bottom" title="Config">
				</button>

				<div id="clock">
					<ds-widget-clock theme="dark" show-secs="true" show-digital="false" show-analog="true"></ds-widget-clock>
				</div>



        <script type="text/ng-template" id="myTemplate.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Choose categories</h3>
            </div>
            <div class="modal-body" id="modal-body">

                <div class="row">

                    <div class="col-md-6">

												<ul ng-repeat="item in vm.items track by $index" ng-if="$index < (vm.items.length / 2 + 1)">

													<li class="category-li">
														<input id="it{{$index + 1}}" type="checkbox" ng-model="vm.items[$index].checked" ng-change="vm.checkCategories(item)"
															ng-disabled="vm.categoriesCount > 4 && !item.checked" />
														<label for="it{{$index + 1}}">{{item.description}}</label><br />
													</li>

												</ul>

                    </div>

                    <div class="col-md-6">

											<ul ng-repeat="item in vm.items track by $index" ng-if="$index > (vm.items.length / 2 - 1)">

												<li class="category-li">
													<input id="it{{$index + 1}}" type="checkbox" ng-model="vm.items[$index].checked" ng-change="vm.checkCategories(item)"
														ng-disabled="vm.categoriesCount > 4 && !item.checked" />
													<label for="it{{$index + 1}}">{{item.description}}</label><br />
												</li>

											</ul>

                    </div>

                </div>

            </div>

						<div class="alert alert-warning" role="alert" ng-show="vm.categoriesCount > 4">You can check up to 5 categories.</div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="catCtrl.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="catCtrl.cancel()">Cancel</button>
            </div>
        </script>

				<script type="text/ng-template" id="details.html">
					<div class="modal-header">{{detCtrl.item}}</div>
					<div class="modal-body">
						{{detCtrl.item}}
						<div><p ng-show="detCtrl.item === 'Weather'">{{detCtrl.weather}}</p></div>
						<md-calendar ng-model="vm.birthday" ng-show="detCtrl.item === 'Calendar'"><md-calendar>
					</div>
					<div class="modal-footer">
							<button class="btn btn-primary" type="button" ng-click="detCtrl.ok()">OK</button>
							<button class="btn btn-warning" type="button" ng-click="detCtrl.cancel()">Cancel</button>
					</div>
				</script>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/ui-bootstrap.js"></script>
        <script src="js/ui-bootstrap.min.js"></script>
        <script src="js/angular.animate.min.js"></script>
        <script src="js/angular.touch.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ui-bootstrap-tpls.js"></script>
        <script src="js/ui-bootstrap-tpls.min.js"></script>

				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
  			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

				<script src="js/controllers/details.controller.js"></script>
				<script src="js/controllers/categories.controller.js"></script>
				<script src="components/angular-clock/dist/angular-clock.js"></script>

    </body>

</html>
