.main{
  height: 1200px;
}

.icon{
  position: absolute;
}

body{
  background-color: #8DB0C4;
  overflow: hidden;
}

li{
  list-style-type: none;
}



#logo-white{
  opacity: 0.3;
  top: 25px;
  left: 25px;
  width: 10%;
  height: auto;
}

#icon1{
   /*Insta*/
  top: 15%;
  left: 58%;
  width: 6%;
  height: auto;
}

#icon2{
   /*Twitter*/
  top: 36%;
  left: 63%;
  width: 8%;
  height: auto;
}

#icon3{
 /*Calendar*/
 top: 36%;
 left: 76%;
 width: 7%;
 height: auto;
}

#icon4{
   /*Cookbook*/
 top: 12%;
 left: 70%;
 width: 3%;
 height: auto;
}

#icon5{
   /*Photo(Frame)*/
   top: 15%;
   left: 45%;
  width: 8%;
  height: auto;
}

#icon6{
   /*Pig*/
   width: 6%;
   height: auto;
   left: 55%;
   top: 54%;
}

#icon7{
   /*Sport(poster)*/
   top: 20%;
   left: 32%;
  width: 6%;
  height: auto;
}

#icon8{
   /*Radio*/
   top: 15%;
   left: 75%;
   width: 8%;
   height: auto;
}

#icon9{
   /*Horoscope(starball)*/
   width: 6%;
   height: auto;
   left: 16%;
   top: 38%;
}

#icon10{
   /*Facebook*/
   width: 15%;
   height: auto;
   left: 37%;
   top: 53%;
}

#desk{
  width: 70%;
  height: auto;
  top: 70%;
  left: 20%;
}

#shelf{
  width: 30%;
  height: auto;
  top: 29%;
  right: 15%;
}

#window{
  width: 15%;
  height: auto;
  left: 15%;
  top: 15%;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7, #icon8, #icon9, #icon10{
  border-radius: 10px;
}

#config-btn{
  background-image: url("../img/config.png");
  position: absolute;
  top: 31px;
  right: 31px;
  height: 50px;
  width: 50px;
}

#clock{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 31px;
  right: 123px;
}
