/*** SPORT NEWS MODAL STYLES ***/
.sport-article-img{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.modal-footer button{
  float: right;
  bottom: 0;
}

.modal-body#sport-modal .sport-article-body{
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
}

.sport-article-body p{
  margin: 0px 5px 0px 5px;
}

.modal-body#sport-modal{
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*** END OF SPORT NEWS MODAL STYLES ***/




/*** COOKBOOK MODAL STYLES ***/

.cookbook-modal .modal-dialog{
  width: 80%;
}

.cookbook-modal .modal-dialog #recipes{
  height: 525px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-body#cookbook-modal #selects{
  display: flex;
  padding-bottom: 15px;
  border-bottom: 3px solid #4588ba;
  margin-bottom: 40px;
}

.modal-body#cookbook-modal #selects span{
  width: 25%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.modal-body#cookbook-modal #selects button{
  margin-left: auto;
  margin-right: auto;
}

.recipe-body{
  height: 30%;
  width: 30%;
  margin: 2% 5% 2% 5%;
  border: 1px dotted #0ba4e5;
  border-radius: 10px;
}

.row.recipe{
  display: flex;
}

.recipe-body-bottom{
  display: flex;
}

.recipe-body-bottom button:nth-of-type(1){
  margin: 3% 3% 3% 10%;
}

.recipe-body-bottom button:nth-of-type(2){
  margin: 3% 10% 3% 3%;
}

.recipe-body-link{
  margin: 1% 0% 1% 2%;
}

.label.recipe-label{
  white-space: normal;
  margin-left: auto;
  margin-right: auto;
}

 .recipe-body-link{
   margin: 5%;
 }
/*** END OF COOKBOOK MODAL STYLES ***/





/*** CALENDAR MODAL STYLES ***/
.calendar-modal .modal-dialog{
  width: 80%;
}

#calendar-modal .fc-body{
  height: 25vh !important;
}

#calendar-modal .row.calendar-top{
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: red;
  padding: 1% 0 0.5% 0;
  border-radius: 5px;
}




/*** END OF CALENDAR MODAL STYLES ***/




.insta-modal .modal-dialog{
  width: 80%;
}

.tweet-modal .modal-dialog{
  width: 80%;
}

.radio-modal .modal-dialog{
  width: 20%;
}

.sports-modal .modal-dialog{
  width: 80%;
}

.face-modal .modal-dialog{
  width: 80%;
}

.photo-album-modal .modal-dialog{
  width: 80%;
}

.market-stock-modal .modal-dialog{
  width: 80%;
}

.horoscope-modal .modal-dialog{
  width: 80%;
}


/* Facebook Modal CSS */
/* FORM FACEBOOK */

label{
  width: 70%;
}

input[type=submit]{
  background-color: #5476bf;
  width: 70%;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  resize: vertical;
}
input[type=submit]:hover {
  background-color: #3b5998;
}
input[type=text], select, textarea{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
  .text-row, .mood-row, {
    width: auto;
    margin: auto;
}

/* FEED FACEBOOK */
.contactsFB{
  display: inline-block;
  float: right;
  width: auto;
  margin-right: 10px;
  margin-left: auto;
}

.contactsFB input{
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  width: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.message-class {
  margin-left: 20px;
}



/* Instagram Gallery CSS */

div.gallery {
  align-items: center !important;
  margin: auto;
  max-width: 70%;
  transition: 0.2s;
}

div.gallery img {
  padding: 10px;
  max-width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  margin: auto;
  text-align: center;
  font-style: italic;
}

#loveIt{
  float: right;
}

#shareIt{
  margin-right: 1%;
  float: right;
}

#shareIt:hover {
  background-color: RoyalBlue;
}
#loveIt:hover {
  background-color: red;
}
