<div class="modal-header">{{vm.item}}</div>

<div class="modal-body" id="market-stock-modal">

  <div>
    <label for="stock-select">Choose a company for details</label>
    <select id="stock-select" class="form-control" ng-model="vm.selectedCompany"
      ng-options="s as s.symbol + ' -- ' + s.name for s in vm.stockItems" ng-change="vm.getCompanyDetails(vm.selectedCompany.symbol)"></select><br />
      <p>Selected company: {{vm.selectedCompany.name}}</p>

      <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
        chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick"></canvas>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
