<div class="modal-header">{{vm.item}}</div>

<div class="modal-body" id="face-modal">

  <div class="contactsFB">
    <table>
      <tr>
        <th >Online contacts</th>
        <th>Message</th>
      </tr>

      <tr>
        <td><p id="c1">Alessandro Del Piero</p></td>
        <td><input id="newMsg1" type="submit" value="..."></td>
      </tr>
      <tr>
        <td><p id="c2">Iga Ninja</p></td>
        <td><input  id="newMsg2" type="submit" value="..."></td>
      </tr>
      <tr>
        <td><p id="c3">Justeen Grindewald</p></td>
        <td><input id="newMsg3" type="submit" value="..."></td>
      </tr>
      <tr>
        <td><p id="c4">Michelangelo</p></td>
        <td><input  id="newMsg4" type="submit" value="..."></td>
      </tr>
      <tr>
        <td><p id="c5">Thomas Aquinas</p></td>
        <td><input  id="newMsg5" type="submit" value="..."></td>
      </tr>
      <tr>
        <td><p id="c6">Enzo Ferrari</p></td>
        <td><input  id="newMsg6" type="submit" value="..."></td>
      </tr>
    </table>
</div>
<br>

<div id="formContainer">

  <form action="">
      <div class="mood-row">
        <br>
          <label><b>New Facebook post</b></label>
          <select id="country" ng-model="vm.mood" ng-options="m as m.mood for m in vm.moods">
            <option value="" disabled selected="selected">Select your mood...</option>
          </select>
      </div>
          <div class="text-row">
            <br>
            <textarea id="textArea" type="text" name="postContent" placeholder="What's on your mind?"></textarea>
          </div>
          <br>

          <div class="submitBtn">
            <input type="submit" value="Submit">
          </div>

      </form>
    </div>
</div>

<div class="message-class">
  <h3>New Message</h3>
  <textarea name="name" rows="8" cols="60"></textarea>
  <button type="button" name="btnSend">Send</button>
</div>

<br>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
</div>



<script>

  $('#newMsg1').click(function(){
      $('h3').empty();
      var nameC = $('#c1').text();
      $('h3').append("New Message to: " + nameC);
  });

  $('#newMsg2').click(function(){
      $('h3').empty();
      var nameC = $('#c2').text();
    $('h3').append("New Message to: " + nameC);
  });

  $('#newMsg3').click(function(){
      $('h3').empty();
      var nameC = $('#c3').text();
    $("h3").append("New Message to: " + nameC);
  })
  $('#newMsg4').click(function(){
      $('h3').empty();
      var nameC = $('#c4').text();
    $("h3").append("New Message to: " + nameC);
  });

  $('#newMsg5').click(function(){
        $('h3').empty();
      var nameC = $('#c5').text();
    $("h3").append("New Message to: " + nameC);
  });

  $('#newMsg6').click(function(){
      $('h3').empty();
      var nameC = $('#c6').text();
    $("h3").append("New Message to: " + nameC);
  });
</script>
