<div class="modal-header">{{vm.item}}</div>

<div class="modal-body" id="face-modal">

  <div class="contactsFB">
    <table>
      <tr>
        <th>Online contacts</th>
        <th>Message</th>
      </tr>
      <tr ng-repeat="contact in vm.contacts">
        <td>{{contact.name}}</td>
        <td><input type="submit" value="..." /></td>
      </tr>
    </table>
</div>
<br>

<div id="formContainer">

  <form action="">
      <div class="mood-row">
        <br>
          <label><b>New Facebook post</b></label>
          <select id="country" ng-model="vm.mood" ng-options="m as m.mood for m in vm.moods"></select>
      </div>
          <div class="text-row">
            <br>
            <textarea id="textArea" type="text" name="postContent" placeholder="What's on your mind?"></textarea>
          </div>
          <br>

          <div class="submitBtn">
            <input type="submit" value="Submit">
          </div>

      </form>
    </div>
</div>

<br>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
</div>
