<div class="modal-header">{{vm.date | date:'medium' }}</div>

<div class="modal-body" id="insta-modal">

  <div class="gallery" ng-repeat="i in vm.images">
    <img src="{{i.src}}" alt="{{i.alt}}" />
    <div class="desc">
      <strong>{{i.description}}</strong>
      <button class="loveIt">Like</button>
      <button class="shareIt">Share</button>
      </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
</div>
